<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Bootstrap demo</title>
        <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD' crossorigin='anonymous'>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container p-3">
            <div class="d-flex justify-content-between p-3">
                <h2>Logs</h2>
                
                <button class="btn btn-outline-primary btn-md" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom">Show QR</button>
            </div>
            {% if attendance|length > 0 %}
                <table class="border w-100 text-center">
                    <tr class="border">
                        <th class="border-end">Date</th>
                        <th>Time</th>
                        <th class="border-end border-start">Student Number</th>
                        <th>Status</th>
                    </tr>
                    {% for i in attendance %}
                        <tr class="border-bottom">
                            <td class="p-1 border-end">{{i['date']}}</td>
                            <td>{{i['time']}}</td>
                            <td class="border-end border-start">{{i['student_number']}}</td>
                            <td>
                                {% if i['status'] == 'Success' %}
                                    <span class="badge text-bg-success">Success</span>
                                {% elif i['status'] == 'Late' %}
                                    <span class="badge text-bg-danger">Late</span>
                                {% endif %}
                            </td>
                        </tr>
                        
                    {% endfor %}
                </table>
            {% else %}
                <h3 class="text-center mt-5">No attendance found</h3>
            {% endif %}
            <div class="offcanvas offcanvas-bottom d-block mx-auto rounded-top" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" style="width: 380px; height: 400px;">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasBottomLabel">View QR</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body small">
                    <img src="/api/view_qr/{{session['student_id']}}" class="d-block mx-auto">
                </div>
            </div>
        </div>
        <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js' integrity='sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN' crossorigin='anonymous'></script>
    </body>
</html>