<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>TimeTally - Dashboard</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD' crossorigin='anonymous'>
        <link rel="stylesheet" href="/static/main.css">
    
    </head>
    <body>
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <a href="/class/{{class_data['identifier']}}"><i class="bi bi-arrow-left text-secondary" style="font-size: 30px;"></i></a>
                    <h1 class="my-4 mx-4">{{class_data['class_name']}}</h1>
                </div>
                
                <div class="d-flex align-items-center">
                    <h6 class="m-0 mx-4 fw-semibold text-muted">{{session['username']}}</h6>
                    <img src="/profiles" alt="" class="rounded-circle img" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                </div>
            </div>

            <form method="post" style="width: 350px;" class="d-block mx-auto">
                <input type="hidden" name="id" value="{{attendance_data['id']}}">
                <div class="input-group my-3">
                    <span class="input-group-text">Name</span>
                    <input type="text" class="form-control" name="student_number" value="{{attendance_data['name']}}" disabled>
                </div>
                <div class="input-group my-3">
                    <span class="input-group-text">Date</span>
                    <input type="text" class="form-control" name="date" value="{{attendance_data['date']}}" disabled>
                </div>
                <div class="input-group my-3">
                    <span class="input-group-text">Time</span>
                    <input type="text" class="form-control" name="time" value="{{attendance_data['time']}}" disabled>
                </div>
                <div class="input-group my-3">
                    <span class="input-group-text">
                        Status
                    </span>
                    <select name="status" id="status" class="form-select" >
                        <option value="Present">Present</option>
                        <option value="Late">Late</option>
                        <option value="Absent">Absent</option>
                    </select>
                </div>
                <p class="m-0 my-3 text-danger">
                    {{message}}
                </p>
                <div class="d-flex justify-content-between">
                    <a href="/class/{{class_data['identifier']}}" class="btn btn-danger">
                        Discard
                    </a>
                    <input type="submit" value="Save" class="btn btn-success">
                </div>
                
            </form>
        </div>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">TimeTally</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="d-flex flex-column border rounded">
                    <a href="/profile" class="border-bottom text-dark text-decoration-none text-center p-2">Profile</a>
                    <a href="/logout" class="text-dark text-decoration-none text-center p-2">Logout</a>
                </div>
            </div>
        </div>
        
        <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js' integrity='sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN' crossorigin='anonymous'></script>
    </body>
</html>
