<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Bootstrap demo</title>
        <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD' crossorigin='anonymous'>
        <style>
            .shake {
                animation: shake 0.5s;
            }
        
            @keyframes shake {
                0% { transform: translate(0, 0); }
                25% { transform: translate(-10px, 0); }
                50% { transform: translate(10px, 0); }
                75% { transform: translate(-10px, 0); }
                100% { transform: translate(0, 0); }
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/dashboard/scanner">Scanner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/dashboard/search">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container p-4">
            <h2>Search</h2>
            
            <form method="POST" >
                <div class="input-group mt-3" style="width: 350px;">
                    <input type="number" name="student_number" id="student_number" class="form-control">
                    <input type="submit" value="Search" class="btn btn-primary">
                </div>
            </form>
            {% if data %}
            {% if data['user_data']|length > 0 %}
            <div class="d-flex mt-5">
                <img src="/api/view_profile/{{data['user_data']['student_number']}}" width="250px" height="250px" style="object-fit: cover;">
                <div class="d-block">
                    <div class="input-group mx-4">
                        <span class="input-group-text">First Name</span>
                        <input type="text" class="form-control" value="{{data['user_data']['fname']}}" readonly>
                    </div>
                    <div class="input-group mx-4 mt-3">
                        <span class="input-group-text">Middle Name</span>
                        <input type="text" class="form-control" value="{{data['user_data']['mname']}}" readonly>
                    </div>
                    <div class="input-group mx-4 mt-3">
                        <span class="input-group-text">Last Name</span>
                        <input type="text" class="form-control" value="{{data['user_data']['lname']}}" readonly>
                    </div>
                </div>
                <div class="d-block mx-3">
                    <div class="input-group mx-4">
                        <span class="input-group-text">Student Number</span>
                        <input type="text" class="form-control" value="{{data['user_data']['student_number']}}" readonly>
                    </div>
                    <div class="input-group mx-4 mt-3">
                        <span class="input-group-text">Section</span>
                        <input type="text" class="form-control" value="{{data['user_data']['section']}}" readonly>
                    </div>
                    <div class="input-group mx-4 mt-3">
                        <span class="input-group-text">Grade Level</span>
                        <input type="text" class="form-control" value="{{data['user_data']['grade_level']}}" readonly>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="alert alert-danger mt-5" role="alert">
                Unable to find student data
            </div>
            {% endif %}
            {% if data['attendance']|length > 0 %}
            <h3 class="text-center my-4">Attendance</h3>
            <table class="text-center border w-100">
                <tr class="border-bottom">
                    <th class="border-end">Date</th>
                    <th class="border-end">Time</th>
                    <th class="border-end">Student Number</th>
                    <th class="border-end">Status</th>
                    <th class="border-end">Action</th>
                </tr>
                {% for i in data['attendance'] %}
                <tr class="border-bottom">
                    <td class="border-end p-2">
                        <p class="m-0">{{i['date']}}</p>
                    </td>
                    <th class="border-end">
                        <p class="fw-normal m-0">{{i['time']}}</p>
                    </th>
                    <th class="border-end">
                        <p class="fw-normal m-0">{{i['student_number']}}</p>
                    </th>
                    <th class="border-end">
                        {% if i['status'] == 'Success' %}
                            <span class="badge text-bg-success">Success</span>
                        {% elif i['status'] == 'Late' %}
                            <span class="badge text-bg-danger">Late</span>
                        {% endif %}
                    </th>
                    <td class="border-end">
                        <a href="/admin/dashboard/edit/{{i['identifier']}}">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div class="alert alert-danger mt-5" role="alert">
                No attendance found
            </div>
            {% endif %}
            {% endif %}
        </div>
        <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
        <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js' integrity='sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN' crossorigin='anonymous'></script>
    </body>
</html>